.cf-select.cf-select-focus {
    border: 1px solid blue;
}

.cf-select-option:hover, .cf-select-option-active {
    background: gray;
}

.cf-select {
    width: 100%;
    border: 1px solid gray;
    display: inline-table;
}

.cf-select-current, .cf-select-dropdown ul {
    display: table;
}

.cf-select-dropdown ul li {
    list-style: none;
}

.cf-select-current.text, .cf-select-current-arrow {
    display: table-cell;
}

.cf-select-dropdown {
    background: rgba(255, 255, 255, 0.9);
}

.cf-select-option {
    display: table-row;
}

.cf-radio, .cf-check {
    border: 1px solid gray;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.cf-radio {
    -webkit-border-radius: 10px;
}

.cf-radio.cf-checkradio-focus, .cf-check.cf-checkradio-focus {
    border: 1px solid blue;
}

.cf-radio.ck-checkradio-checked, .cf-check.ck-checkradio-checked {
    background: blue;
}

.test.ck-checkradio-checked {
    background: blue;
}

.tab-body {
    border: 1px solid gray;
}

.hide {
    display: none !important;
}