<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Accessible custom form</title>
    <link rel="stylesheet" href="accessibleform.css" />
</head>
<body>
    <form id="myform" action="/" method="post">
        <div class="element">
            <div class="label"><label for="firstname">First name:&nbsp;</label></div>
            <div class="input"><input type="text" name="firstname" data-validation="required email" data-validation-text-required="Fuck you motherfucker" data-validation-text-email="!!!" data-option-charCount="true" maxlength="100" data-option-label="false" data-option-labelAsPlaceholder="false" /></div>
        </div>
        <div class="element">
            <div class="label"><label for="lastname">Last name:&nbsp;</label></div>
            <div class="input"><input type="text" name="lastname" /></div><!--  data-option-charCount="true" data-template-charCountVocabulary="<span>{{ current }} out of {{ total }}</span>" maxlength="100" -->
        </div>
        <!-- Test on select custom menu -->
        <div class="element">
            <div class="label"><label for="age">Age:&nbsp;</label></div>
            <div class="input" style="width:250px;">
                <select name="age" id="age" class="class1 class2 class3"  data-validation="required">
                    <option value="100">Dead</option>
                    <option value="30">30+ yo</option>
                    <option value="25">25+ yo</option>
                    <option value="20">20+ yo</option>
                    <option value="10" selected="selected">10+ yo</option>
                    <option value="0">Not born</option>
                </select>
            </div>
        </div>
        
        <div class="element">
            <div class="label"><label for="race">Race:&nbsp;</label></div>
            <div class="input" style="width:250px;">
                <select name="race" id="race">
                    <option value="white">White</option>
                    <option value="black">Black</option>
                    <option value="yellow">Yellow</option>
                </select>
            </div>
        </div>
        
        <!-- Test on radio box -->
        <div class="element">
            <div class="label"><label for="gender">Gender:&nbsp;</label></div>
            <div class="input">
                <input type="radio" name="gender" value="male" data-validation="required" /><span>Male</span>&nbsp;<!--  data-template-checkradioWrapper="<span class='{{ id }} {{ classes }} test'>{{ textSpan }}</span>" -->
                <input type="radio" name="gender" value="female" data-validation="required" /><span>Female</span>
            </div>
        </div>
        <!-- Test on check box -->
        <div class="element">
            <div class="label"><label for="favoriteFood">Favorite food:&nbsp;</label></div>
            <div class="input">
                <input type="checkbox" name="favoriteFood" value="pizza" data-validation="required" /><span>Pizza</span>&nbsp;
                <input type="checkbox" name="favoriteFood" value="pasta" data-validation="required" /><span>Pasta</span>
            </div>
        </div>
        <!-- Test textarea -->
        <div class="element">
            <div class="label"><label for="comment">Comment:&nbsp;</label></div>
            <div class="input"><textarea name="comment"></textarea></div>
        </div>
        <br /><br />
        <!-- Test on submit and replaceble button -->
        <input type="submit" value="Submit" />
    </form>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="accessibleform.js"></script>
    <script type="text/javascript">
        $( window.formCallbacks ).ready(function() {
            $('form').makeFormAccessible( {
                'submit': {
                    'submitWrapper': '<span id="{{ id }}" class="cf-submit {{ classes }}" style="background: red;"><a href="#">{{ value }}</a></span>'
                }
            } );

            brad.formCallbacks.ageCallback = function( element ) {
                console.log( "rien" );
            }
            brad.formCallbacks.firstnameCallback = function( element ) {
                /* console.log(element.val()); */
            }
        });
    </script>
</body>
</html>