<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready( function() {
        var object = {
            'first': 'First',
            'second': 'Second',
            'third': 'Third',
            'alpha': {
                'a': 'A',
                'b': 'B',
                'c': 'C',
                'd': 'D',
                'e': 'E'
            }
        }
        
        var new_object = {
            'first': '1st',
            'alpha': {
                'z': 'Z',
                'y': 'Y',
                'x': 'X'
            }
        }
        
        object = $.extend(object, new_object);
        
        console.log(object);
    } );
</script>